@model Pizza

<div class="container">
    <h2 class="mb-3">Pizza Details</h2>
    <div class="mb-3">
        <img class="card-@Model.PizzaId" />
    </div>
    <h3 class="mb-2">Name: @Model.Name</h3>
    <p class="mb-2">Description: @Model.Description</p>
    <p class="mb-2">Price: €@Model.Price</p>
    <p class="mb-2">
        <span>
            Category:
            @if (Model.Category != null)
            {
                @Model.Category.Title
            }
            else
            {
                <small>
                    Not specified
                </small>
            }
        </span>
    </p>
    <p class="mb-2">
        <span>
            Ingredients:
            @if (Model.Ingredients?.Count > 0)
            {
                @for (var i = 0; i < Model.Ingredients.Count; i++)
                {
                    var ingredient = Model.Ingredients[i].IngredientName;
                    @ingredient
                    if (i < Model.Ingredients.Count - 1)
                    {
                        @(", ")
                    }
                    else
                    {
                        @(". ")
                    }
                }
            }
            else
            {
                <small>No Ingredients Specified</small>
            }
        </span>
    </p>
</div>
