@{
    Layout = "_Layout";
}

@model List<Pizza>

@if (Model.Count() == 0)
{
    <h3>No pizzas availables</h3>
}
else
{

    <div class="container py-3">
        <h1>Our Pizzas</h1>

        <a class="btn my-5 custom-link"
           href="@Url.Action("Create", "Pizza")">
            Create a New Pizza
        </a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pizza pizza in Model)
                {
                    <tr>
                        <th scope="row">@pizza.PizzaId</th>
                        <td><img src="@pizza.ImgPath" alt="@pizza.Name" /></td>
                        <td>@pizza.Name</td>
                        <td>@pizza.Description</td>
                        <td>€@pizza.Price</td>
                        <td>
                            @if (pizza.Category != null)
                            {
                                @pizza.Category.Title
                            }
                            else
                            {
                                <small>
                                    Not specified
                                </small>
                            }
                        </td>
                        <td>
                            @if (pizza.Ingredients?.Count > 0)
                            {
                                @for (var i = 0; i < pizza.Ingredients.Count; i++)
                                {
                                    var ingredient = pizza.Ingredients[i].IngredientName;
                                    @ingredient
                                    if (i < pizza.Ingredients.Count - 1)
                                    {
                                        @(", ")
                                    }
                                    else
                                    {
                                        @(". ")
                                    }
                                }
                            }
                            else
                            {
                                <small>No Ingredients Specified</small>
                            }
                        </td>
                        <th scope="col">
                            <a class="btn btn primary custom-link" href="@Url.Action("Details", "Pizza", new { id = pizza.PizzaId })">See More</a>
                            <a class="btn btn primary custom-link" href="@Url.Action("Update", "Pizza", new { id = pizza.PizzaId })">Edit Pizza</a>
                            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.PizzaId" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn my-btn btn-sm">
                                    Delete Pizza
                                </button>
                            </form>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


